body {
    background-image: url('./assets/images/main-images/500_F_90971772_IjJp9VHSkat5Dzkyj9fTugVAtexHSxYa.jpg');
    background-size: 100% 80%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#info {
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 0;
    padding: 50px 40px 50px 40px;
}
.league-container {

}
/*
league, team and season container
*/
.wrapper {
    position: relative;
}
.wraper .leagues-container {
    position: absolute;
    overflow: scroll;
    max-height: 0;
}
.wraper:hover .leagues-container {
    max-height: 300px;
}