@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeue.otf");
}
.body-dark {
  background-image: url("../images/background_img1.png");
  background-size: cover;
  height: 100vh;
  width: auto;
}
.body-light {
  background-image: url("../images/background_img2.png");
  background-size: cover;
  height: 100vh;
  width: auto;
}
h1.gradient {
  font-family: "Bebas Neue";
  font-size: 4em;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to right,
    #00dc9e6e,
    #00dc9e93,
    #00dc9eb2,
    #00dc9d,
    #00dc9d
  );
  letter-spacing: 0.09em;
  margin-bottom: 0.2em;
}
.menu-tittle {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
}
.menu-tittle a {
  text-decoration: none;
}
.title {
  font-family: "Bebas Neue";
  font-weight: bold;
  background: linear-gradient(90deg, #001e4b, #00c78a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h1 span {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: 0.17em;
}
.btn-play {
  font-family: "Bebas neue";
  font-size: 2em;
  color: white;
  background-color: transparent;
  background-image: linear-gradient(
    to right,
    #00dc9e80,
    #00dc9eaa,
    #00dc9ec0,
    #00dc9ecc,
    #00dc9ec0,
    #00dc9eaa,
    #00dc9e80
  );
  box-shadow: 0 0 70px #00dc9d;
  text-shadow: 0 0 50px #00dc9d, 0 0 50px #00dc9d, 0 0 50px #00dc9d,
    0 0 50px #00dc9d, 0 0 70px #00dc9d, 0 0 100px #00dc9d, 0 0 70px #00dc9d,
    0 0 80px #00dc9d;
  border: 0;
  padding: 0.2em 2em;
  letter-spacing: 0.2em;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid transparent;
}
.btn-play:hover {
  border: 3px solid #00dc9e57;
}
.header-home {
  display: flex;
  justify-content: space-between;
}
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.middle {
  display: table-cell;
  vertical-align: middle;
}
.inner {
  width: 600px;
  text-align: center;
}
.white,
header h1 {
  color: white;
}
header h1 {
  font-family: "Bebas Neue";
  font-size: 1.7em;
}
header {
  position: absolute;
  width: 100%;
  z-index: 5;
}
/* Dark */
.social-icons {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
.social-icons ul {
  list-style: none;
}
.social-icons li {
  display: inline-block;
  color: #0b1a40;
  font-size: 18px;
  margin: 0 7px;
}
.social-icons::after {
  clear: both;
}
.social-icons li {
  margin: 0;
  float: left;
}
.social-icons a {
  color: white;
  padding: 10px 20px;
  background-color: #00dc9d33;
  transition: background-color 0.2s;
}
.social-icons a:hover {
  background-color: #00dc9ebd;
}

/* Light */

.social-icons-light {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}
.social-icons-light ul {
  list-style: none;
}
.social-icons-light li {
  display: inline-block;
  color: #0b1a40;
  font-size: 18px;
  margin: 0 7px;
}
.social-icons-light::after {
  clear: both;
}
.social-icons-light li {
  margin: 0;
  float: left;
}
.social-icons-light a {
  color: white;
  padding: 10px 20px;
  background-color: #00dc9ebd;
  transition: background-color 0.2s;
}
.social-icons-light a:hover {
  background-color: #00dc9d33;
}
.nav-holder {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 50px;
  width: 100%;
}
.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}
.middle {
  display: table-cell;
  vertical-align: middle;
}
.footer {
  font-family: "Bebas Neue";
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.footer span {
  font-size: 30px;
  color: #ed2a3a;
  height: auto;
}
.footer img {
  margin-left: 5px;
  margin-bottom: 20px;
  width: 200px;
  height: auto;
  vertical-align: middle;
}

/* Match styles */

.donut-container {
  font-family: "Bebas Neue";
  position: relative;
  display: flex;
  max-width: 400px;
  height: auto;
  margin: auto;
  padding-top: 100px;
  margin-bottom: 30px;
  color: white;
  font-size: 60px;
}
.container {
  padding-top: 100px;
}
.percentage-left {
  display: flex;
  position: absolute;
  left: -40%;
}
.percentage-left img {
  max-width: 75px;
  margin-right: 10px;
}
.percentage-right {
  display: flex;
  position: absolute;
  bottom: 0;
  right: -40%;
}
.percentage-right img {
  max-width: 75px;
  margin-left: 10px;
  
}
.percentage {
  font-size: 40px;
  margin: auto;
}

/* Odometer */

.odometer {
  font-size: 75px;
  margin: auto;
}

.btn-play-again {
  font-family: "Bebas neue";
  font-size: 3em;
  color: white;
  background-color: transparent;
  border: 0;
  padding: 0.2em 2em;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid transparent;
  text-decoration: none;
  position: relative;
}
.btn-play-again::after {
  content: "";
  left: 50%;
  bottom: 0;
  position: absolute;
  width: 40%;
  transition: 0.2s;
}
.btn-play-again span {
  text-shadow: 0 0 15px #00dc9d, 0 0 15px #00dc9d, 0 0 25px #00dc9d,
    0 0 25px #00dc9d, 0 40px 50px #00dc9d;
}
.btn-play-again:hover::after {
  content: "";
  left: 30%;
  position: absolute;
  height: 5px;
  background-image: linear-gradient(
    to right,
    #00dc9e80,
    #00dc9eaa,
    #00dc9ec0,
    #00dc9ecc,
    #00dc9ec0,
    #00dc9eaa,
    #00dc9e80
  );
}

/* Grid */

.container {
  display: block;
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
}

.col-4 {
  width: 33.33333333333%;
}

/* Load Circle */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid rgb(100, 100, 100);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(100, 100, 100) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Select */

.cards {
  justify-content: center;
  display: flex;
}

.card-item {
  justify-content: center;
}

.image {
  width: 200px;
  height: auto;
}

.list-teams {
  font-family: "Bebas Neue";
  position: absolute;
  color: #373737;
  height: 0;
  width: 450px;
  overflow: hidden;
  transition: height 0.5s;
}

.list-teams ul {
  width: 70%;
  background-color: #e5e5e5;
  background-image: linear-gradient(#e5e5e5, #fff, #e5e5e5);
  border-radius: 5px;
  box-shadow: 5px 10px #c4c1c19f;
  max-height: 300px;
  overflow-y: scroll;
  color: #373737;
  background-color: #e5e5e5;
  border-radius: 5px;
  box-shadow: 5px 10px #c4c1c19f;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.card-item:hover .list-teams {
  height: 300px;
}

.list-teams ul::-webkit-scrollbar {
  display: none;
}

.item-team {
  padding: 0 1em;
  font-size: 25px;
  cursor: default;
  margin-bottom: 1px;
  z-index: 2;
}

.link {
  z-index: 5;
  transition: 0.3s ease;
  color: #373737;
}
/*clear fix */
.link::after {
  content: "";
  display: table;
  clear: both;
}

.link:hover {
  background-color: #00c78a;
}
.team-image {
  width: 15%;
  height: 55px;
  display: block;
  content: "";
  float: left;
}
.team-name {
  box-sizing: border-box;
  width: 85%;
  padding: 0.6em;
  position: relative;
  float: left;
}
/*arrow right or triangulo xd*/
.team-name::after {
  width: 0;
  height: 0;
  right: -7%;
  top: 40%;
  content: "";
  border-left: 10px solid #201d18;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
}

.item-team ul {
  background-color: rgb(255, 255, 255);
  box-shadow: 7px 5px #c4c1c19f;
}

.list-years {
  position: absolute;
  padding-left: 1%;
  background-color: cadetblue;
  left: 70%;
  top: 0;
  width: 30%;
  display: none;
  height: 0;
}
.list-years ul {
  width: 90%;
  box-sizing: border-box;
}
.item-team:hover .list-years {
  display: block;
  height: 100%;
  overflow: visible;
}

.item-year {
  text-align: center;
  background-color: #30ddb4;
  border-radius: 5px;
  margin: 3px;
  display: block;
  font-size: 25px;
  cursor: pointer;
  color: white;
  font-weight: bold;
  padding: 0 1em;
}

.btn-lets-play {
  font-family: "Bebas neue";
  font-size: 1.5em;
  color: white;
  background-color: transparent;
  background-image: linear-gradient(
    #00da99,
    #4bda9b,
    #29ad8c,
    #108f5e,
    #0b7778
  );
  border: 0;
  padding: 0.5em 1em;
  letter-spacing: 0.2em;
  cursor: pointer;
  border-radius: 10px;
  margin: 2.3em auto;
  display: block;
}
#selected-teams {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.image-lr {
  width: 150px;
  height: 150px;
  content: "";
  display: block;
  margin: auto;
  background-color: crimson;
}
