.donut-container {
  font-family: "Bebas Neue";
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  color: white;
}

.container {
  margin-bottom: 50px;
}

#graph-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  position: relative;
}

#graph {
  width: 100%;
}

.percentage-left,
.percentage-right {
  width: 20%;
  display: flex;
  position: absolute;
}

.percentage-left {
  left: 7%;
  align-self: flex-start;
  text-align: right;
}

.percentage-right {
  right: 7%;
  align-self: flex-end;
  text-align: right;
}

.percentage-left img,
.percentage-right img {
  width: 50%;
  float: left;
}

.percentage-left div,
.percentage-right div {
  font-size: 1.3em;
  width: 30%;
  float: left;
  align-self: center;
}

div.percentage {
  width: 20%;
  float: left;
}

.odometer {
  font-size: 1em;
}
/*
@media (min-width: 500px) {

  #graph-container {
    width: 60%;
  }

  .percentage-left,
  .percentage-right {
    width: 15%;
  }

  .percentage-left {
    left: 20%;
  }

  .percentage-right {
    right: 20%;
  }

  .percentage-left div,
  .percentage-right div {
    font-size: .5em;
  }

  div.percentage {
    font-size: 40px;
  }

  .odometer {
    font-size: 40px;
  }
}
*/
@media (min-width: 500px) {
  
  .percentage-left {
    left: 10%;
  }

  .percentage-right {
    right: 10%;
  }
  .percentage-left div,
  .percentage-right div {
    font-size: 1.7em;
  }
}

@media (min-width: 600px) {

  #graph-container {
    width: 60%;
  }

  .percentage-left,
  .percentage-right {
    width: 15%;
  }

  .percentage-left {
    left: 16%;
  }

  .percentage-right {
    right: 16%;
  }

  .percentage-left div,
  .percentage-right div {
    font-size: 2.1em;
  }
}
@media (min-width: 720px) {
  .percentage-left div,
  .percentage-right div {
    font-size: 2.5em;
  }
  .percentage-left {
    left: 18%;
  }

  .percentage-right {
    right: 18%;
  }
}
@media (min-width: 920px) {
  .percentage-left {
    left: 20%;
  }

  .percentage-right {
    right: 20%;
  }

  .percentage-left div,
  .percentage-right div {
    font-size: 2.9em;
  }
}