.container {
  display: block;
  width: 100%;
  max-width: 1024px;
  margin:auto;
  position: relative;
  z-index: 1;
}

.row {
  display: flex;
  justify-content: center;
}

.col-4 {
  width: 50%;
}
/*
This is the let's play button container
*/
#button-container {
  position: absolute;
  width: 80%;
  top:160px;
}
@media (min-width:450px) {
  #button-container {
      position: static;
      width: 33.3333333333333333%;
  }
  .col-4 {
      width: 33.3333333333333333%;
  }
}