.match-title {
  text-align: center;
  color: white;
  font-size: 1.5em;
  letter-spacing: .03em;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.match-subtitle {
  text-align: center;
  color: white;
  font-size: 1.3em;
  letter-spacing: .08em;
  margin-bottom: 1em;
  /*
  position: absolute;
  top: 50%;
  width: 100%;
  */
}

.btn-play-again {
  font-family: "Bebas neue";
  font-size: 1.8em;
  text-align: center;
  color: white;
  border: 0;
  width: 70%;
  padding: 0.5em 0em;
  cursor: pointer;
  margin: auto;
  text-decoration: none;
  position: relative;
  display: block;
  box-sizing: border-box;
}

.btn-play-again::after {
  content: "";
  right: 0;
  bottom: 0;
  position: absolute;
  width: 0;
  height: 0;
  transition: 1s;
  border: 5px solid transparent;
}

.btn-play-again::before {
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  width: 0;
  height: 0;
  transition: 1s;
  border: 5px solid transparent;
}

.btn-play-again span {
  text-shadow: 0 0 15px #00dc9d, 0 0 15px #00dc9d, 0 0 25px #00dc9d,
    0 0 25px #00dc9d, 0 40px 50px #00dc9d;
}

.btn-play:hover {
  border: 3px solid #00dc9e57;
}

.btn-play-again:hover::before {
  left: 0;
  top: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-top-width: 5px;
  border-left-width: 5px;
  border-style: solid;
  border-image-source: linear-gradient(#3154fb, #4bda9b);
  border-image-slice: 1 0 0 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.btn-play-again:hover::after {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-right-width: 5px;
  border-bottom-width: 5px;
  border-left-width: 0;
  border-top-width: 0;
  border-style: solid;
  border-image-source: linear-gradient(#4bda9b, #5aec64);
  border-image-slice: 0 1 1 0;
  box-sizing: border-box;
}

#confeti {
  z-index: 2;
  position: absolute;
  pointer-events: none;
  inset: 0px;
  top: 0;
}

#donations {
  height: 2000px;
}
#donations img {
  width: 100%;
  height: auto;
  opacity: .35;
}
#donations h2 {
  color:white;
  font-size: 2em;
  text-align: center;
}
#donations p {
  font-family: 'Bebas Neue';
  font-size: 1em;
  color:rgb(175, 175, 175);
  margin-top:.5em;
}
#comments {

}

@media (min-width: 600px) {
  .match-title {
    font-size: 1.9em;
    letter-spacing: normal;
  }

  .btn-play-again {
    text-align: center;
    font-size: 3em;
    width: 90%;
    padding: 0.2em 0;
  }
}