.body-light {
  background-image: url("../images/background_img2.png");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.title-light {
  font-family: "Bebas Neue";
  font-size: 25px;
  font-weight: bold;
  background: linear-gradient(90deg, #001e4b, #00c78a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*
social icon color
*/
.social-icons-light>ul a {
  color: white;
  background-color: #00da99;
  transition: background-color 0.2s;
}

.social-icons-light>ul a:hover {
  background-color: #00dc9d33;
}

/* 
  dropdown blue 
  dropdown to switch language
*/

.btn-dropdown-green {
  border: 1px solid #00dc9e71;
  color: white;
  background-color: #00da99;
}

.btn-dropdown-green div {
  background-color: #0b7778;
  border: 1px solid #00dc9e71;
}

.btn-dropdown-green a {
  color: white;
}

.btn-dropdown-green div a:hover {
  background-color: #00dc9d77;
}
/*
leagues and their container
*/
.cards {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  top:0;
  z-index: 2;
  position: absolute;
}

.card-item {
  width: 320px;
  position: relative;
  display: block;
  transition:.2s;
  opacity:1;
  visibility: visible;
}
.league-invisible {
  opacity:.3;
  /*
  visibility: hidden;
  */
}
.league-effect {
  position: absolute;
  top:0;
  z-index: 2;
  width:100%;
  max-width:320px; 
}
.league-effect .image {
  max-width:100px;
}
.image {
  display:block;
  width: 100%;
  max-width:75px;
  height: auto;
  margin: auto;
}

.card-item.active {
  background-color: transparent;
}
.card-item:hover {
  background-color: #f1f1f1;
}
.card-item.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 20%;
  background-color: #00c78a;
}
/* team list */
.list-teams {
  font-family: "Bebas Neue";
  position: absolute;
  z-index: 2;
  color: #373737;
  height: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 370px;
  margin:auto;
  overflow: hidden;
  transition: height 0.5s;
  background-color: #e5e5e5;
}

.list-teams ul {
  max-height: 300px;
  overflow-y: scroll;
  color: #373737;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  border-radius: 5px;
  background-color: #e5e5e5;
  background-image: linear-gradient(#e5e5e5, #fff, #e5e5e5);
  border-radius: 5px;
  box-shadow: 5px 10px #c4c1c19f;
}

.list-teams>ul {
  width: 60%;
}

.list-teams-hovered {
  height: 300px;
}

.list-teams ul::-webkit-scrollbar {
  display: none;
}

.item-team {
  padding: 0 0.5em;
  font-size: 1.2em;
  cursor: default;
  margin-bottom:6px;
  z-index: 2;
}

.item-team:first-child {
  margin-top: 1em;
}

.item-team:last-child {
  margin-bottom: 1em;
}

.link {
  transition: 0.3s ease;
  color: #373737;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link:hover {
  background-color: #00c78a;
}

.active {
  background-color: #00c78aa0;
}

/*clear fix */
.link::after {
  content: "";
  display: table;
  clear: both;
}

.team-image {
  width: 20%;
  height: auto;
  display: block;
  float: left;
}

.team-name {
  box-sizing: border-box;
  width: 80%;
  padding: 0.3em 0.3em;
  position: relative;
  float: left;
}

/*arrow right or triangulo xd*/
.team-name::after {
  width: 0;
  height: 0;
  right: -7%;
  top: 40%;
  content: "";
  border-left: 10px solid #201d18;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  position: absolute;
}

.item-team ul {
  background-color: rgb(255, 255, 255);
  box-shadow: 7px 5px #c4c1c19f;
}
/* 
  Season list
*/
.list-years {
  position: absolute;
  padding-left: 1%;
  /*
  background-color: cadetblue;
*/
  left: 60%;
  top: 0;
  width: 40%;
  display: none;
  height: 0;
}

.list-years ul {
  margin-top: 1em;
  width: 90%;
  box-sizing: border-box;
}

.item-team:hover .list-years {
  display: block;
  height: 100%;
  overflow: visible;
}

.item-year {
  text-align: center;
  background-color: #30ddb4;
  border-radius: 5px;
  margin: 3px;
  display: block;
  font-size: 1em;
  cursor: pointer;
  color: white;
  font-weight: bold;
  padding: 0 0.1em;
}

.item-year:hover {
  background-color: #00c78a;
}

.btn-lets-play {
  font-family: "Bebas neue";
  font-size: 1.3em;
  color: white;
  background-color: transparent;
  background-image: linear-gradient(#00da99, #0b7778 100%);
  border: 0;
  padding: 0.5em 1em;
  letter-spacing: 0.2em;
  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
  margin: 2.3em auto;
  display: block;
}

#selected-teams {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

.image-lr {
  width: 75px;
  height: 75px;
  display: block;
  margin: auto;
  opacity: 0;
  transition: opacity 1s;
}

.image-lr[src] {
  opacity: 1;
}

.selected-team {
  position: relative;
  width: 90%;
}

.selected-team-name {
  font-family: "Bebas Neue";
  font-size: 1.3em;
  color: #0b7778;
  letter-spacing: 2px;
}

.btn-close {
  background-color: transparent;
  width: 0;
  height: 0;
  border: 0;
  top: 30%;
  right: 10%;
  position: absolute;
  cursor: pointer;
}

.btn-close::before {
  font-size: 1.5em;
  background-color: white;
  color: tomato;
  content: "x";
  padding: 2px 7px;
  border: 1px solid tomato;
  border-radius: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 600px) {
  .cards {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .card-item {
    width: 100px;
    position: relative;
  }
  .image {
    max-width: 100%;
  }
  /* Hover on league, display team list */
.card-item-hoverable:hover .list-teams {
  height: 300px;
}
  .list-teams {
    width: 400px;
    max-width: unset;
    background-color: transparent;
    left: unset;
  }
  /*
  This isn't probablye the best way to fix the responsive version, but it's works! :)
  This is the order you will see each list teams
      .list-teams-left-1  => first in left side
      .list-teams-left-2
      .list-teams-middle
      .list-teams-right-2
      .list-teams-right-1 => last in right side
  */
  .list-teams-left-1 {
    left: 0;
  }
  .list-teams-left-2, .list-teams-middle {
    left: -40%;
  }
  .list-teams-right-2 {
    right: -95%;
  }
  .list-teams-right-1{
    right: 0%;
  }


  .list-teams > ul {
    width: 70%;
    max-height: 300px;
  }

  .item-team {
    padding: 0 1em;
    font-size: 1.5em;
  }

  .team-image {
    width: 15%;
  }

  .team-name {
    width: 85%;
  }

  .list-years {
    padding-left: 1%;
    left: 70%;
    top: 0;
    width: 30%;
    display: none;
    height: 0;
  }

  .item-year {
    margin: 2px;
    font-size: 0.8em;
    padding: 0.1em 0.2em;
  }

  .image-lr {
    width: 100px;
    height: 100px;
  }

  .btn-lets-play {
    font-size: 1.5em;
  }

  .selected-team-name {
    font-size: 1.8em;
  }
}
@media (min-width: 900px) {
  .card-item {
    width: 150px;
  }
  .list-teams {
    width: 380px;
  }
  .list-teams-left-1, .list-teams-left-2 {
    left: -40%;
  }
  .list-teams-middle {
    left: -40%;
  }
  .list-teams-right-2 {
    left: -40%;
  }
  .list-teams-right-1 {
    right: -40%;
  }
}

@media (min-width:1024px) {
  .card-item {
    margin:0 .8em;
  }
  .list-teams {
    width: 400px;
  }
  .list-teams-left-1, .list-teams-left-2 {
    left: -60%;
  }
  .list-teams-middle {
    left: -40%;
  }
  .list-teams-right-2 {
    right: -60%;
  }
  .list-teams-right-1 {
    right: -60%;
  }
}

@media (min-width:1220px) {
  .list-teams-left-1, .list-teams-left-2 {
    left: -60%;
  }
  .list-teams-middle {
    left: -40%;
  }

  .list-teams-right-1, .list-teams-right-2 {
    left: -46%;
  }
}