/* Footer */

footer {
  width: 100%;
bottom: 0;
position: fixed;
}

.footer-space {
  display: block;
  width: 50%;
background: #333;
}

.footer-space h3 {
padding-top: 15px;
padding-right: 10px;
font-weight: bold;
text-align: end;
}

.footer-space img {
width: 136px;
height: 35px;
}

.footer-container {
  display: flex;
  justify-content: center;
  font-size: 16px;
  color: #999;
}

/* title & Social Icons */

.nav-holder {
display: flex;
flex-direction: column;
padding-top: 30px;
width: 100%;
}

.menu-title {
display: flex;
justify-content: center;
margin-bottom: .5em;
}
.menu-title a {
text-decoration: none;
}



.btn-dropdown {
padding: 0;
position: relative;
font-family: 'Bebas Neue';
font-size: 1.1em;
letter-spacing: .06em;
display: inline-block;
}

.btn-dropdown::after {
content: '';
position: absolute;
right: 0;
top: .8em;
width: 0;
height: 0;
border: .5em solid transparent;
border-color: #fff transparent transparent transparent;
}

.btn-dropdown div {
height: 0;
overflow: hidden;
position: absolute;
right: 0;
width: 0;
z-index: 3;
}
.btn-dropdown:hover div {
height: auto;
overflow: visible;
min-width: 130px;
}
.btn-dropdown a {
display: block;
padding: .5em 1em;
text-decoration: none;
position: relative;
text-align: right;
}
.btn-dropdown a.active::before {
content: '✔';
border: 1px solid white;
border-radius: 50%;
position: absolute;
left: .7em;
top: .2em;
padding:.3em;
}



h1, h2, h3, h4, h5, h6 {
  font-family: "Bebas Neue";
}

h1 {
  font-family: "Bebas Neue";
font-size: 1.5em;
  background-clip: text;
-webkit-background-clip: text;
color: transparent;
  background-image: linear-gradient(to right, #0b1a40, #3154fb, #4bda9b, #00dc9d);
}

@media (min-width: 600px) {
.menu-title {
  padding-left:2em;
  margin-bottom: 0;
}
.nav-holder {
  justify-content: space-between;
  flex-direction: row;
}
}