#root {
    background-image: url('./assets/images/main-images/stadium.png');
    background-size: 100% 80%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#info {
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 0;
    padding: 50px 40px 50px 40px;
}
.league-container {

}
/*
league, team and season container
*/
.wrapper {
    position: relative;
    max-width: 950px;
    margin: 150px auto 0;
}
.wrapper .leagues-container {
    left:0;
    right:0;
    position: absolute;
    overflow-y: scroll;
    transition: .5s;
}
.wrapper:hover .leagues-container {
    max-height: 300px;
}
.donation, .our-data {
    font-size:15px;
    height: fullHeight;
    padding-top: 50px;
    padding-right: 10px;
}
.donation {
    background-color: #18a3596c;
    color: #ffffff;
}
.our-data {
    background-color: #1f4b8d54;
    color: white;
}
.disqus {
    background-color: #e67d224b;
    color: white;
}