body {
    background-image: url('./assets/images/main-images/stadium.jpeg');
    background-size: 100% 80%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#info {
    background-color: rgb(255, 255, 255);
    color: black;
    margin: 0;
    padding: 50px 40px 50px 40px;
}
.league-container {

}
/*
league, team and season container
*/
.wrapper {
    position: relative;
    margin-top:100px;
}
.wrapper .leagues-container {
    left:0;
    right:0;
    position: absolute;
    overflow-y: scroll;
    transition: .5s;
}
.wrapper:hover .leagues-container {
    max-height: 300px;
}